{% if session.error == "login_error" %}
<p>Virheellinen käyttäjätunnus tai salasana</p>
{% endif %}

{% if session.error == "register_error" %}
<p>Käyttäjätunnus on jo olemassa</p>
{% endif %}

{% if session.error == "topic_error" %}
<p>Keskustelu on jo olemassa</p>
{% endif %}

{% if session.error == "topic_not_found_error" %}
<p>Keskustelu ei löytynyt</p>
{% endif %}

{% if session.error == "topic_not_found_error" %}
<p>Väärä käyttäjä</p>
{% endif %}

<a href="/return_from_error">Palaa takaisin</a>
