<!DOCTYPE html>
{% if cause == "login_error" %}
<p>Virheellinen käyttäjätunnus tai salasana</p>
{% endif %}

{% if cause == "register_error" %}
<p>Käyttäjätunnus on jo olemassa</p>
{% endif %}

{% if cause == "topic_error" %}
<p>Keskustelualue on jo olemassa</p>
{% endif %}

{% if cause == "header_error" %}
<p>Keskustelu on jo olemassa</p>
{% endif %}

{% if cause == "topic_not_found_error" %}
<p>Keskustelualue ei löytynyt</p>
{% endif %}

{% if cause == "session_error" %}
<p>Väärä käyttäjä</p>
{% endif %}

{% if cause == "no_search_results" %}
<p>Ei hakutuloksia</p>
{% endif %}

{% if cause == "no_user" %}
<p>Käyttäjää ei löytynyt</p>
{% endif %}

{% if cause == "header_too_long" %}
<p>Otsikko on liian pitkä</p>
{% endif %}

{% if cause == "message_too_long" %}
<p>Viesti on liian pitkä</p>
{% endif %}

<a href="/">Palaa takaisin</a>
