<!DOCTYPE html>
{% if session.username %}
{% if session.admin == True %}
<form action="/create" method="POST">
<p>Keskustelualueen nimi:<br>
<input type="text" name="topic"></p>
<input type="submit" value="Luo keskustelu">
<br>
</form>
<form action="/remove" method="POST">
<p>Keskustelualueen nimi:<br>
<input type="text" name="topic"></p>
<input type="submit" value="Poista keskustelu">
</form>
<br>
    
{% endif %}

<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<br>
Keskustelualueet:
<br>
<br>
{% for topic in topics %}
<a href="/topic{{ topic.id }}">{{ topic.topic }}</a>
<hr>
{% endfor %}

{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<form action="/register" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Rekisteröidy">
<input type='checkbox' id="admin" value='1' name='admin'>
<label for='admin'>Admin</label>
<input type='hidden' value='0' name='admin'>
</form>
{% endif %}
